In [2]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

#### 1. Identify the industry in which Canoo operates, along with its size, growth rate, trends, and key players.

In [2]:
q1=requests.get("https://www.globaldata.com/company-profile/canoo-inc/")
print(q1.status_code)

200

 meaning the website can be accessed

 This website contains the information regarding Canno its products and services hence as a introductory file i would like to
save it in the format of text file

In [3]:
soup=BeautifulSoup(q1.text,'html.parser')
print(type(soup))

Intro=soup.p.text #navigatable string
print(Intro)
f= open("Canoo industry.txt","w")
f.write(Intro)
f.close()

<class 'bs4.BeautifulSoup'>
Canoo Inc (Canoo) is a high tech advanced mobility technology company. The company’s product offerings include true steer-by-wire, leaf spring suspension systems, advanced drivetrain systems, battery and battery management systems, electrical systems architecture, lifestyle vehicles and delivery, multi-purpose delivery vehicles and pickup. It provides electric vehicle concept, design and engineering services for auto original equipment manufacturers (OEMs). Canoo develops the Canoo Digital Ecosystem software to provide key tools for passenger vehicles and fleets with products spanning lifestyle, fleet management, security and safety, household and asset management use cases. The company serves businesses and consumers. It operates offices in California, Arkansas, Oklahama, Texas and Michigan. Canoo is headquartered in Torrance, California, the US.

In [4]:
#Canoo's Market Cap 
q2= requests.get("https://companiesmarketcap.com/canoo/marketcap/")
soup2=BeautifulSoup(q2.text,'html.parser')
marketcap= soup2.find("p",class_="mt-2")
print(marketcap.text)

As of February 2024 Canoo has a market cap of $0.15 Billion.
This makes Canoo the world's 6927th most valuable company by market cap according to our data. The market capitalization, commonly called market cap, is the total market value of a publicly traded company's outstanding shares and is commonly used to measure how much a company is worth.

In [5]:
#appending it to the txt file
f=open("Canoo industry.txt","a")
f.write(marketcap.text)

347

In [37]:
q5=requests.get("https://www.fool.com/investing/2024/01/30/where-will-canoo-stock-be-in-1-year/")
print(q5.status_code)

soup6=BeautifulSoup(q5.text,'html.parser')
#print(soup6.text)

200

In [38]:
tag=soup6.find('div',class_="article-body")
contents=tag.find_all('p')
f=open("Canoo industry.txt",'a')
for i in range(len(contents)):
    f.write(contents[i].text)
    
f.close()

In [39]:
f=open("Canoo industry.txt",'r')
f.read()

'Canoo Inc (Canoo) is a high tech advanced mobility technology company. The company’s product offerings include true steer-by-wire, leaf spring suspension systems, advanced drivetrain systems, battery and battery management systems, electrical systems architecture, lifestyle vehicles and delivery, multi-purpose delivery vehicles and pickup. It provides electric vehicle concept, design and engineering services for auto original equipment manufacturers (OEMs). Canoo develops the Canoo Digital Ecosystem software to provide key tools for passenger vehicles and fleets with products spanning lifestyle, fleet management, security and safety, household and asset management use cases. The company serves businesses and consumers. It operates offices in California, Arkansas, Oklahama, Texas and Michigan. Canoo is headquartered in Torrance, California, the US.As of February 2024 Canoo has a market cap of $0.15 Billion.\nThis makes Canoo the world\'s 6927th most valuable company by market cap according to our data. The market capitalization, commonly called market cap, is the total market value of a publicly traded company\'s outstanding shares and is commonly used to measure how much a company is worth.The very first bullet point in Canoo\'s (GOEV -3.16%) third-quarter 2023 earnings release stated that the electric vehicle (EV) company had reached the "accelerating revenue generation phase." That sounds great, and if you look at the income statement, it is clearly true. But there\'s still one small nuance to consider if you examine the company\'s 10-Q filing.In the third quarter of 2023, Canoo generated $519,000 of revenue, compared to zero in the prior year period. In fact, if you look back through the company\'s short history (it went public through a merger with a special purpose acquisition company in December 2020), the third quarter of 2023 was the first time it generated any revenue at all.Image source: Getty Images.To give credit where credit is due, the third quarter was a big improvement. Until now, the company has just been trying to build its business. Getting to this point was no small feat, given that creating an EV company from, effectively, scratch is both difficult and expensive.That said, there are still some problems investors need to consider. For example, while it generated $519,000 in revenue, the cost of revenue tallied up to $903,000. So, the company\'s gross profit was negative. On top of that, the company is still spending a lot of money to build out its business. For example, research and development spending came in at $21.9 million, and selling, general, and administrative expenses were $24.9 million.\xa0Canoo continues to burn through cash.That is why, despite entering the "accelerating revenue generation phase," the company\'s 10-Q for the third quarter still contained a going concern warning. This is a warning from a company that it may be unable to survive the next 12 months because of its weak financial condition. Here\'s what the filing said:The Company expects to continue to incur net losses and negative cash flows from operating activities in accordance with its operating plan and expects that both capital and operating expenditures will increase significantly in connection with its ongoing activities. These conditions and events raise substantial doubt about the Company\'s ability to continue as a going concern.There\'s no way to predict the future, but Canoo is clearly not starting from a position of strength. It is highly likely to need to sell equity or issue debt to continue to fund its business efforts. This isn\'t a maybe. It\'s a certainty. The company noted in the third-quarter 2023 earnings release:As of September 30, 2023, we had cash and cash equivalents of $8.3 million. After giving effect to the preferred stock and warrant subscription agreement for a total of $45.0 million, our cash balance would have been $53.3 million on September 30, 2023.Put into plain English, the company doesn\'t have nearly enough cash on hand, but it has agreements to sell preferred stock and warrants that will allow it to raise some much-needed money. Finally generating some revenue is good news, but there needs to be a drastic "acceleration" on the top line before Canoo will be able to self-fund its business. And since a going concern warning looks out 12 months, the next year isn\'t likely to see the company\'s financial situation change much.The worst part of all this is likely that at some point in the future, Canoo will have to issue shares to cover the convertibles and warrants it is relying on to generate cash today. That means current shareholders could potentially suffer massive amounts of dilution before Canoo gets its business profitable (if it ever manages to). The risk/reward trade-off looks pretty ugly right now, and only the most aggressive investors should be looking at Canoo.By Canoo\'s own admission, the next year will be hard financially. Buying the stock today means you must not only believe strongly that it can actually build a profitable business but also be willing to suffer more losses until it does. And even then, you will likely see material dilution as the company has to make good on the convertibles and warrants it has been using to fund its massive capital needs.All but the most aggressive investors would probably be better off watching the company\'s progress over the next year than buying it. That will remain true at least until the going concern warning is removed from the company\'s filings with the Securities and Exchange Commission.'

In [6]:
#lets check txt file
f=open("Canoo industry.txt",'r')
f.read()
f.close()

In [7]:
table = soup2.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "Market_cap", "Change"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        market_cap = table_columns[1].text.strip()
        change = table_columns[2].text.strip()

        mylist.append([year,market_cap,change])

df = pd.DataFrame(
    mylist,
    columns=["Year", "Market_cap", "Change"]
)

In [8]:
df

   Year Market_cap   Change
0  2024    $0.15 B  -22.38%
1  2023    $0.20 B  -52.36%
2  2022    $0.42 B  -76.98%
3  2021    $1.84 B  -43.32%
4  2020    $3.25 B

In [9]:
#saving as csv file
df.to_csv("Canoo_market_cap.csv")

In [10]:
#Canoo Earnings
q3=requests.get("https://companiesmarketcap.com/canoo/earnings/")
soup3=BeautifulSoup(q3.text,'html.parser')

In [11]:
table = soup3.find("table", class_="table")
f = pd.DataFrame(
    columns=["Year", "Earnings", "Diff"]
)
mylist = []
for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")

    if table_columns != []:
        year = table_columns[0].text.strip()
        earnings = table_columns[1].text.strip()
        diff = table_columns[2].text.strip()

        mylist.append([year,earnings,diff])

df2 = pd.DataFrame(
    mylist,
    columns=["Year", "Earnings", "diff"]
)

In [12]:
df2

         Year   Earnings     diff
0  2023 (TTM)   -$0.36 B  -28.66%
1        2022    -$0.5 B   10.59%
2        2021   -$0.45 B  467.03%
3        2020  -$79.35 M

In [13]:
df

   Year Market_cap   Change
0  2024    $0.15 B  -22.38%
1  2023    $0.20 B  -52.36%
2  2022    $0.42 B  -76.98%
3  2021    $1.84 B  -43.32%
4  2020    $3.25 B

In [15]:
df_new=pd.merge(df,df2,on="Year",how="left")
df_new

   Year Market_cap   Change   Earnings     diff
0  2024    $0.15 B  -22.38%        NaN      NaN
1  2023    $0.20 B  -52.36%        NaN      NaN
2  2022    $0.42 B  -76.98%    -$0.5 B   10.59%
3  2021    $1.84 B  -43.32%   -$0.45 B  467.03%
4  2020    $3.25 B           -$79.35 M

In [16]:
#saving it to the csv file
df_new.to_csv("Canoo_market_earnings.csv")

### Canoo's Competitors

In [17]:
q3=requests.get("https://www.macrotrends.net/stocks/charts/GOEV/canoo/market-cap")
print(q3.status_code)

soup4=BeautifulSoup(q3.text,'html.parser')
print(type(soup4))

403
<class 'bs4.BeautifulSoup'>

 The above website cannot be acessed as it has 403 as status code

In [3]:
q3=requests.get("https://incfact.com/company/canoo-torrance-ca/#revenue")
print(q3.status_code)

soup5= BeautifulSoup(q3.text,'lxml')
print(type(soup5))

200
<class 'bs4.BeautifulSoup'>

In [28]:
table= soup5.find_all('table',class_="table outputtable")[1]
print(table.text)
table_rows=table.find_all("tr")
#print(table_rows)

mylist=[]
f=pd.DataFrame(
    columns=['Company','Headquaters']
)
for row in table_rows:
    table_columns = row.find_all("td")

    if table_columns != []:
        company = table_columns[0].text.strip()
        Headquaters = table_columns[1].text.strip()

        mylist.append([company,Headquaters])

df3 = pd.DataFrame(
    mylist,
    columns=['Company','Headquaters']
)

Company
HeadquartersRevenue ($ MM)TESLAPalo Alto, CA100 GENERAL MOTORS HOLDINGSDetroit, MI99 UAW-FORD VOLUNTARY EMPLOYEES BEDetroit, MI63 FCA USAuburn Hills, MI59 AMERICAN HONDA MOTORMarysville, OH45 NORTHROP GRUMMAN SYSTEMSFairfax, VA43 EATONCleveland, OH39 BOEINGSeattle, WA35

In [29]:
df3

                           Company       Headquaters
0                            TESLA     Palo Alto, CA
1          GENERAL MOTORS HOLDINGS       Detroit, MI
2  UAW-FORD VOLUNTARY EMPLOYEES BE       Detroit, MI
3                           FCA US  Auburn Hills, MI
4             AMERICAN HONDA MOTOR    Marysville, OH
5         NORTHROP GRUMMAN SYSTEMS       Fairfax, VA
6                            EATON     Cleveland, OH
7                           BOEING       Seattle, WA

In [31]:
table= soup5.find_all('table',class_="table outputtable")[2]
print(table.text)
table_rows=table.find_all("tr")
for row in table_rows:
    table_columns = row.find_all("td")

    if table_columns != []:
        company = table_columns[0].text.strip()
        Headquaters = table_columns[1].text.strip()

        mylist.append([company,Headquaters])

df3 = pd.DataFrame(
    mylist,
    columns=['Company','Headquaters']
)

Company
HeadquartersRevenue ($ MM)CANOO TECHNOLOGIESTorrance, CA100 LISI HOLDING NORTH AMERICATorrance, CA65 ROBINSON HELICOPTERTorrance, CA54 DAICEL AMERICA HOLDINGSTorrance, CA44 MOTORCAR PARTS OF AMERICATorrance, CA23 GARRETT TRANSPORTATION ITorrance, CA11

In [35]:
df3

                            Company       Headquaters
0                             TESLA     Palo Alto, CA
1           GENERAL MOTORS HOLDINGS       Detroit, MI
2   UAW-FORD VOLUNTARY EMPLOYEES BE       Detroit, MI
3                            FCA US  Auburn Hills, MI
4              AMERICAN HONDA MOTOR    Marysville, OH
5          NORTHROP GRUMMAN SYSTEMS       Fairfax, VA
6                             EATON     Cleveland, OH
7                            BOEING       Seattle, WA
8                CANOO TECHNOLOGIES      Torrance, CA
9        LISI HOLDING NORTH AMERICA      Torrance, CA
10              ROBINSON HELICOPTER      Torrance, CA
11          DAICEL AMERICA HOLDINGS      Torrance, CA
12        MOTORCAR PARTS OF AMERICA      Torrance, CA
13         GARRETT TRANSPORTATION I      Torrance, CA

In [36]:
df3.to_csv("canoo competitors.csv")